	/*colour*/
body {
	background-color: #FFF;
}

a:link {
	color: #54A4DE;
}	

#sidebar h2 a:link,
#sidebar h2 a:visited {
	color: #FFF;
}

#sidebar h3 a:link,
#sidebar h3 a:visited {
	color: #205780;
}

body,
#pastFeature h2,
#article .column h2,
#article span.pullquote,
#sortNav a:link,
#sortNav a:visited,
#adminNav a:link,
#adminNav a:visited,
#footer a:link,
#footer a:visited,
#globalNav a:link ,
#globalNav a:visited {
	color: #444;
}

body a:link:hover,
body a:visited:hover,
#sidebar h2 a:link:hover,
#sidebar h2 a:visited:hover,
#sidebar h3 a:link:hover,
#sidebar h3 a:visited:hover,
#type h2 a:link,
#type h2 a:visited,
#article h2,	
#article #content ul.search li h2 a:link,
#article #content ul.search li h2 a:visited,
#currentFeature h3 a:link,
#currentFeature h3 a:visited,





.location,
.location a:link,
.location a:visited,
.comments a:link:hover,
.comments a:visited {
	color: #205780;
}	
	
#content blockquote.pullquote  {
	background-color: #C0C0C0;
	color: #FFF;
}

#globalNav {
	background: #BBD9EE;
}
	
	/*design*/	  


#masthead {
	background: #EBF4FA;
	border-bottom: 8px solid #54A4DE;
}

#masthead img {
	border: none;
}

	/* sort nav */
#sortNav {
	list-style: none;
	margin-right: 5px;
	padding-top: 25px;
	
}
#sortNav li {
	margin-left: -20px;
	margin-lef\t: 0;
}

#sortNav li a {
	padding-top: 6px;
	width: 184px;
	wid\th: 150px;
	height: 26px;
	heigh\t: 19px;
	background: #F1EFE2 url(../images/sidebar_bg.gif) 0 52px;
	border-bottom: 1px solid #FFF;
	overflow/**/: hidden;
}

#sortNav li a:hover {
	background-position: 0 26px;
}

#sortNav li.active a,
#sortNav li.active a:hover { 
	padding-right: 5px;
	background-color: #FFF;
	background-position: 0 0;
}

#sortNav li#dateLink a,
#sortNav li#contributeLink a,
#sortNav li#newsletterLink a,
#sortNav li#contactLink a,
#sortNav li#aboutLink a {
	border-top: 1px solid #FFF;
	height: 26px;
	heigh\t: 18px;
}
	
#search li.search form {
	width: 184px;
	wid\th: 163px;
	background: #FFF url(../images/bullet_search.gif) 15px 10px no-repeat;
	border: 1px solid #F1EFE2;
	border-top: 29px solid #E7E4D3;
}

#search li.search label {
	margin-left: 15px;
}
#adminNav li {
	margin-left: -20px;
	margin-lef\t: 0;
}

#adminNav li a {
	padding-top: 6px;
	width: 184px;
	wid\th: 150px;
	height: 26px;
	heigh\t: 19px;
	background: #F1EFE2 url(../images/sidebar_bg.gif) 0 52px;
	border-bottom: 1px solid #FFF;
	overflow/**/: hidden;
}

#adminNav li a:hover {
	background-position: 0 26px;
}

#adminNav li.active a,
#adminNav li.active a:hover { 
	padding-right: 5px;
	background-color: #FFF;
	background-position: 0 0;
}

#adminNav li#dateLink a,
#adminNav li#contributeLink a,
#adminNav li#newsletterLink a,
#adminNav li#contactLink a,
#adminNav li#aboutLink a {
	border-top: 1px solid #FFF;
	height: 26px;
	heigh\t: 18px;
}
	



	/* top nav */
#globalNav {
	border-bottom: 9px solid #FFF;
	overflow/**/: hidden;
}
	
html>body #globalNav {
	overflow: visible;
}

#globalNav a {
	display: block;
	text-align: center;
	width: 100%;
	background-image: url(../images/tabs.gif);
	padding-top: 4px;
	height: 23px;
	heigh\t: 18px;
}

#articlesLink a {
	background-position: 0 0;
	width: 64px;
}

#articlesLink.active a  {
	background-position: 0 22px;
}

#articlesLink a:hover {
	background-position: 0 44px;
}

#eventsLink a {
	background-position: -64px 0px;
	width: 78px;
}

#eventsLink.active a {
	background-position: -64px 22px;
}

#eventsLink a:hover {
	background-position: -64px 44px;
}

#adminLink a {
	background-position: -141px 0px;
	width: 80px;
}

#adminLink.active a  {
	background-position: -141px 22px;
}

#adminLink a:hover {
	background-position: -141px 44px;
}


	/*pullquote */
#content blockquote.pullquote {
	width: 260px;
	wid\th: 250px;
	margin: 3.5em auto;
	padding: 0 5px;
	background: #C0C0C0 url(../images/quote-top.gif) top left no-repeat;
}

#content blockquote.pullquote p {
	margin: 0;
	background-position: bottom right;
	color: #FFF;
}

#content blockquote.pullquote p.pullquote {
	padding: 1em 1.5em;
	margin: 0;
	background: transparent url(../images/close-quote.gif) 97% 100% no-repeat;
	border-top: none;
}

	/* primarily content */


#content a.more {
	white-space: nowrap;
}


#content h3 {
	margin: 1.5em 0 0;
}

#content p { 
	margin: 0;
}

#content p.location { 
	margin-bottom: 0.4em;
	
}


#content p.archive,
#content p.column {

	margin-top: 2em;
	margin-bottom: 0;
	padding: 12px 0 0 50px;
	height: 39px;
	heigh\t: 32px;
	background: #FAF1C3 url(../images/yellow_arrow.gif) left no-repeat;
	overflow/**/: hidden;
		text-align: right;
}
a.more,
#sidebar p.archive a.more,
#content p.archive a.more {
	padding-right: 15px;
	background: url(../images/more_articles.gif) right no-repeat;
}

#content .date,
#sidebar .date,
#content .author,
#sidebar .author,
#content .comments,
#sidebar .comments {
	float: left;
	white-space: nowrap;
	padding: 0 1em 0 12px;
}
#content .description {
	float: left;
	padding: 0 1em 0 12px;
	width: 50%;
}
#content .author,
#sidebar .author {
	background: url(../images/author.gif) left no-repeat;

}

#content .date,

#sidebar .date {
	background: url(../images/permalink.gif) left no-repeat;

}


#currentFeature p.comments,
#pastFeature p.comments {
	margin-bottom: -1em;
} 
html>body #currentFeature p.comments,
html>body #pastFeature p.comments {
	margin-bottom: 2.5em;

}

#feed {
	border-bottom: 1px dotted #A5AEC5;
	line-height: 25px;
	vertical-align: text-bottom;
	padding-bottom: 10px;
}

#actions {
	background-color: #205780;
	padding: 2px;
	font-weight: bolder;
	float: right;
}




#content h1 {
	margin: 0;
	padding-bottom: 1.4em;
}



.button{
	border-color: #666;
	font:  Arial,Verdana, Helvetica, sans-serif;
	border-width: 1px;
	background-color: #FFBF80;
	cursor: hand;
		font-size: 95%;
	text-align: center;
	text-transform: lowercase;
}
.smallbutton{
	border-color: #666;
	font:  Arial,Verdana, Helvetica, sans-serif;
	border-width: 0px;
	background-color: #FFBF80;
	cursor: hand;
		font-size: 80%;
	text-align: center;
	text-transform: lowercase;
}
